<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>regmodel2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  	<servlet>
		<servlet-name>home</servlet-name>
		<servlet-class>com.exam.controller.HomeController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>home</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>insert</servlet-name>
		<servlet-class>com.exam.controller.InsertController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>insert</servlet-name>
		<url-pattern>/insertPro.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>selectAll</servlet-name>
		<servlet-class>com.exam.controller.SelectAllController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>selectAll</servlet-name>
		<url-pattern>/selectForm.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>select</servlet-name>
		<servlet-class>com.exam.controller.SelectController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>select</servlet-name>
		<url-pattern>/select.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>search</servlet-name>
		<servlet-class>com.exam.controller.SearchController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>search</servlet-name>
		<url-pattern>/search.do</url-pattern>
	</servlet-mapping>
		
	<servlet>
		<servlet-name>update</servlet-name>
		<servlet-class>com.exam.controller.UpdateController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>update</servlet-name>
		<url-pattern>/update.do</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>delete</servlet-name>
		<servlet-class>com.exam.controller.DeleteController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>delete</servlet-name>
		<url-pattern>/delete.do</url-pattern>
	</servlet-mapping>		
</web-app>